.App {
  text-align: center;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.body {
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
}

.header {
  height: 60px;
}

.header-logo img {
  height: 60px;
  width: 100%;
  max-width: 100px;
}

.header-right {
  text-align: end;
  margin-top: 10px;
}

.header-right button {
  margin-right: 10px;
}

.header-right img {
  height: 30px;
}

.left-open {
  text-align: left;
  display: flex;
}

.left-open h3 {
  margin-right: 20px;
}

.right-date {
  text-align: end;
}

.right-date img {
  margin-right: 30px;
}

.open-button {
  height: 35px;
}

.banner img {
  width: 100%;
  margin: 20px 0;
}

.horizontal-options img {
  width: 100%;
}

.body-content {
  margin: 20px;
}

.left-side,
.right-side {
  padding: 0 20px;
}

.hosted-by {
  color: deepskyblue;
  margin-top: 10px;
  font-weight: 700;
}

.game-logos {
  width: 100%;
}

.follow-button {
  margin-left: 30px !important;
}

.grid-container .p1 {
  grid-area: p1;
}

.grid-container .p2 {
  grid-area: p2;
}

.grid-container .p3 {
  grid-area: p3;
}

.grid-container .p4 {
  grid-area: p4;
}

.grid-container .p5 {
  grid-area: p5;
}

.grid-container .p6 {
  grid-area: p6;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'p1 p2 p3'
    'p4 p5 p6';
  grid-gap: 10px;
  padding: 10px;
}

.bars {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.bar1 {
  background-color: darkgray;
  height: 80px;
}

.bar2 {
  background-color: orange;
  height: 120px;
}

.bar3 {
  background-color: brown;
  height: 50px;
}

.bar {
  color: white;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  padding-bottom: 10px;
}

.col-sm-12 {
  padding-right: 0;
  padding-left: 0px;
}

.mobile-banner {
  max-height: 280px;
}

.mobile-header {
  padding: 0;
}

.horizontal-options-mobile span,
.horizontal-options span {
  color: darkgray;
  margin-right: 10px;
}

.horizontal-options-mobile .highlight,
.horizontal-options .highlight {
  color: deepskyblue;
  font-weight: 700;
}

.horizontal-options {
  margin-left: 50px;
}

.horizontal-options .highlight {
  padding-bottom: 10px;
  border-bottom: 4px solid deepskyblue;
}

.horizontal-options span {
  margin-right: 50px;
}

@media(min-width:768px) {
  #header {
    display: flex !important;
  }

  .right-date img {
    float: left;
  }

  .mobile-grid {
    display: none;
  }

  .left-open {
    display: flex !important;
  }

  .right-date img {
    float: none;
  }
}

@media(max-width: 767px) {
  .body-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .desktop-grid {
    display: none;
  }

  .left-side,
  .right-side {
    padding: 0 10px;
  }

  .graph {
    padding: 0;
    margin: 0;
  }

  .graph .left,
  .graph .right {
    padding: 0;
  }

  .graph .left {
    padding-right: 10px;
  }

  .bars {
    padding: 0 10px;
  }

  .bottom-bar {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .bottom-bar img {
    width: 100%;
    height: 70px;
  }

  .bar {
    max-width: 40px;
  }

  .right-date {
    text-align: left;
  }

  .right-date button {
    float: right;
  }
}